/* @font-face {
  font-family: "Novecentosanswide";
  src: url(./assets/font/Novecentosanswide-Medium.otf);
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Novecentosanswide";
}

body {
  background: black;
  width: 100%;
}

/*NAVIGATION START*/
.navigation {
  height: 150px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 30px;
  text-transform: uppercase;
  font-size: 16px;
}

.nav-left {
  width: 35%;
}

.drop-down {
  width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 5px;
}

.drop-down-container {
  display: flex;
}

.drop-down-icon {
  transition: transform 0.3s;
}

.rotate-icon {
  transform: rotate(180deg);
}

.rotate-icon-back {
  transform: rotate(0deg);
}

.drop-down-list {
  width: 200px;
  position: absolute;
  top: 35px;
  left: 35px;
  padding: 10px;
  background: black;
}

.drop-down-list li {
  list-style: none;
  color: white;
  padding: 0 15px;
  margin-bottom: 20px;
}

.logo {
  width: 38px;
}

.nav-left a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

.icon {
  width: 22px;
}

.nav-left:last-child(img) {
  margin-left: 10px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  font-weight: 800;
}

.nav-right {
  margin-left: auto;
  width: 20%;
}

.login-btn {
  all: unset;
}

.make-your-own-btn {
  background-color: #b2b2b2;
  border-radius: 25px;
  padding: 15px 20px;
  font-size: 16px;
  color: white;
  border: none;
  line-height: 100%;
  text-transform: uppercase;
}

/*NAVIGATION END*/
/*DARK AREA SECTION START*/
.dark-area {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.wrapper-dark-area {
  display: flex;
  flex-direction: column;
}

.flex-container-dark-area {
  display: flex;
}

.flex-container-top {
  padding-top: 70px;
}

.dark-area-text {
  padding: 0 50px 200px 50px;
}

.dark-area-text .for-artists {
  border: solid 2px white;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 25px;
  display: inline-block;
  text-align: center;
}

.dark-area-text h1 {
  font-size: 55px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 50px;
  padding-bottom: 48px;
}

.dark-area-text .full-service {
  font-size: 28px;
  font-weight: normal;
  letter-spacing: -0.3px;
  line-height: 34px;
}

.img-one {
  width: 500px;
  border: solid black 1px;
  position: relative;
  top: 40px;
  z-index: 1;
  transform: rotate(10deg);
}

.img-two {
  width: 573px;
  border: solid black 1px;
  position: relative;
  top: -200px;
  left: 220px;
  transform: rotate(-15deg);
  z-index: 0;
}

.img-three {
  width: 400px;
  position: relative;
  right: -300px;
  z-index: 2;
}
/*DARK AREA SECTION END*/
/*VINYL VS CASSETTE SECTION START*/

.choose-formats {
  background-color: #e4e5de;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.choose-formats .headline {
  padding: 90px 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 42px;
}

.vinyl-vs-cassette {
  display: flex;
}

.vinyl,
.cassette {
  border-top: solid black 2px;
  padding: 50px 127px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vinyl {
  border-right: solid black 1px;
  padding-left: 15%;
}

.cassette {
  padding-right: 15%;
  border-left: solid black 1px;
}

.vinyl h3,
.cassette h3 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 25px;
}

.vinyl p,
.cassette p {
  text-align: center;
  font-size: 20px;
  padding-bottom: 30px;
}

.vinyl img,
.cassette img {
  width: 520px;
}
/*VINYL VS CASSETTE SECTION END*/
/*DARK BANNER START*/
.dark-banner {
  background: black;
  height: 285px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark-banner span {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}
/*DARK BANNER END*/
/*DIVIDED AREA START*/
.divided {
  background: linear-gradient(
    to right,
    #e4e5de,
    #e4e5de 50%,
    #fff804 50%,
    #fff804
  );
}
.sec-zero {
  display: flex;
  margin-bottom: 60px;
}
.sec-one,
.sec-two,
.sec-three,
.sec-four,
.sec-five,
.sec-six,
.sec-seven {
  display: flex;
  margin-top: 90px;
}

.sec-seven {
  padding-bottom: 70px;
}

.you {
  padding-left: 15%;
  padding-right: 30px;
  width: 50%;
}

.qrates {
  padding-right: 15%;
  padding-left: 30px;
  width: 50%;
}

.you,
.qrates {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 50px;
}

.you .title,
.qrates .title {
  border: solid black 2px;
  background-color: white;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding: 3px 10px;
  display: inline-block;
}

.you h3,
.qrates h3 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 42px;
}

.you p,
.qrates p {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: -0.27px;
  line-height: 28px;
  padding: 0 30px;
}

.grey {
  width: 50%;
  padding-left: 15%;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.grey span {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.grey p {
  text-align: right;
  font-size: 19px;
}

.yellow {
  width: 50%;
  padding-right: 15%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grey h3,
.yellow h3 {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.3px;
  line-height: 34px;
  margin-bottom: 20px;
}

.yellow img {
  width: 590px;
}

.yellow p {
  font-size: 19px;
}

.circle-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.circle {
  background: white;
  padding: 30px;
  height: 100px;
  width: 100px;
  border-radius: 60%;
  border: solid black 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle span {
  font-size: 70px;
  font-weight: bold;
}

.line {
  width: 4px;
  background: black;
  height: 80%;
  position: relative;
}

.sec-two-img {
  width: 590px;
}

.sec-two-heading,
.sec-two-span-grey {
  text-align: right;
}

.sec-two-span-grey {
  margin-top: 20px;
}

.sec-two-span-yellow {
  font-weight: bold;
  font-size: 20px;
  margin: 15px 0;
}

.image-collection {
  width: 590px;
}

.cd-image {
  width: 590px;
}

.learn-more {
  margin: 20px 0;
  color: black;
  font-weight: bold;
}

.how-it-works {
  all: unset;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  padding: 10px 40px;
  border-radius: 30px;
  margin-left: 170px;
}

.image-seven {
  width: 590px;
  margin-top: 10px;
}
/*DIVIDED AREA END*/
/*NEW PROJECT AREA START*/
.new-project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 180px;
  padding: 0 10%;
}

.new-project-heading {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.new-project-heading::after {
  content: "→";
}

.new-project-button {
  margin-left: auto;
  all: unset;
  color: white;
  border: solid white 2px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  padding: 10px 40px;
  border-radius: 30px;
  margin-left: 170px;
}
/*NEW PROJECT AREA END*/
/*GREEN AND ROSY AREA START*/
.green-and-rosy {
  background: linear-gradient(
    to right,
    #81836c,
    #81836c 50%,
    #f8d8d8 50%,
    #f8d8d8
  );
  display: flex;
  justify-content: center;
  border-bottom: solid black 3px;
}
.green {
  margin-left: 10%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  border-right: solid black 1px;
}

.rosy {
  margin-right: 10%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  border-left: solid black 1px;
}

.green img,
.rosy img {
  width: 649px;
  border: solid black 1px;
}

.small-title {
  border: solid black 2px;
  background-color: white;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding: 3px 10px;
  display: inline-block;
}

.green p,
.rosy p {
  text-align: center;
}

.green button,
.rosy button {
  all: unset;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  padding: 10px 40px;
  border-radius: 30px;
  margin-left: 170px;
  margin: 0 auto;
}
/*GREEN AND ROSY AREA END*/
/*COMMUNITY AREA START*/

.community {
  height: 430px;
  background-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-bottom: solid black 3px;
}
.community span {
  text-transform: uppercase;
  padding-top: 5px;
}
.community h3 {
  font-size: 40px;
  font-weight: bold;
}
.community p {
  text-align: center;
  font-size: 19px;
}

.community button {
  all: unset;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: solid black 1px;
  border-radius: 20px;
  padding: 10px 40px;
  border-radius: 30px;
  margin-left: 170px;
  margin: 0 auto;
}
/*COMMUNITY AREA END*/
/*ARTISTS AREA START*/
.artists {
  display: flex;
  padding: 50px;
  background-color: #fff804;
}

.content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: black;
  padding-left: 15%;
  width: 50%;
}

.artists-on-qrates {
  font-size: 17px;
  padding: 15px 10px 10px 10px;
  font-weight: bold;
  border: solid black 3px;
}

.underlined-sol {
  text-decoration: underline;
}
.content-left p {
  font-size: 28px;
  font-weight: bold;
}

.content-right {
  padding-right: 15%;
  width: 50%;
}

.img-wrapper {
  object-fit: contain;
  overflow: hidden;
  border: solid black 3px;
  height: 950px;
  width: 706px;
}

.content-right img {
  width: 706px;
}

.number-wrapper {
  display: flex;
  gap: 5px;
}

.numbers {
  padding: 25px 35px;
  border-radius: 50%;
  font-size: 25px;
  font-weight: bold;
}

.first-nmbr {
  background: black;
  color: white;
  border: solid black 3px;
}

.second-nmbr {
  background: #fff804;
  border: solid black 3px;
  color: black;
}
/*TRY IT NOW AREA START*/
.try-it-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: white;
  height: 682px;
}

.try-it-now span {
  background: black;
  border: solid white 2px;
  font-size: 18px;
  padding: 10px;
}
.try-it-now h3 {
  font-size: 40px;
}

.try-it-now p {
  font-size: 20px;
}

.try-it-now-images {
  display: flex;
  gap: 60px;
}

.img-left {
  width: 122px;
  margin-right: 30px;
  position: relative;
  left: 0;
  bottom: -60px;
}
.img-center {
  width: 350px;
}
.img-right {
  width: 98px;
  transform: rotate(10deg);
  position: relative;
  top: -40px;
  right: 0;
  margin-left: 40px;
}

.try-it-now button {
  all: unset;
  color: black;
  background: #fff804;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: solid black 1px;
  border-radius: 20px;
  padding: 15px 90px;
  border-radius: 30px;
  margin-left: 170px;
  margin: 0 auto;
}
