/* @font-face {
  font-family: "Novecentosanswide";
  src: url(./assets/font/Novecentosanswide-Medium.otf);
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Novecentosanswide";
}

body {
  background: black;
}

/*NAVIGATION START*/
.navigation {
  height: 150px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 30px;
  text-transform: uppercase;
  font-size: 16px;
}

.nav-left {
  width: 35%;
}

.drop-down {
  width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 5px;
}

.drop-down-container {
  display: flex;
}

.drop-down-icon {
  transition: transform 0.3s;
}

.rotate-icon {
  transform: rotate(180deg);
}

.rotate-icon-back {
  transform: rotate(0deg);
}

.drop-down-list {
  width: 200px;
  position: absolute;
  top: 35px;
  left: 35px;
  padding: 10px;
  background: black;
}

.drop-down-list li {
  list-style: none;
  color: white;
  padding: 0 15px;
  margin-bottom: 20px;
}

.logo {
  width: 38px;
}

.nav-left a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

.icon {
  width: 22px;
}

.nav-left:last-child(img) {
  margin-left: 10px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  font-weight: 800;
}

.nav-right {
  margin-left: auto;
  width: 20%;
}

.login-btn {
  all: unset;
}

.make-your-own-btn {
  background-color: #b2b2b2;
  border-radius: 25px;
  padding: 15px 20px;
  font-size: 16px;
  color: white;
  border: none;
  line-height: 100%;
  text-transform: uppercase;
}

/*NAVIGATION END*/
/*DARK AREA SECTION START*/
.dark-area {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.wrapper-dark-area {
  display: flex;
  flex-direction: column;
}

.flex-container-dark-area {
  display: flex;
}

.flex-container-top {
  padding-top: 70px;
}

.dark-area-text {
  padding: 0 50px 200px 50px;
}

.dark-area-text .for-artists {
  border: solid 2px white;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 25px;
  display: inline-block;
  text-align: center;
}

.dark-area-text h1 {
  font-size: 55px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 50px;
  padding-bottom: 48px;
}

.dark-area-text .full-service {
  font-size: 28px;
  font-weight: normal;
  letter-spacing: -0.3px;
  line-height: 34px;
}

.img-one {
  width: 500px;
  border: solid black 1px;
  position: relative;
  top: 40px;
  z-index: 1;
  transform: rotate(10deg);
}

.img-two {
  width: 573px;
  border: solid black 1px;
  position: relative;
  top: -200px;
  left: 220px;
  transform: rotate(-15deg);
  z-index: 0;
}

.img-three {
  width: 400px;
  position: relative;
  right: -300px;
  z-index: 2;
}
/*DARK AREA SECTION END*/
/*VINYL VS CASSETTE SECTION START*/

.choose-formats {
  background-color: #e4e5de;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.choose-formats .headline {
  padding: 90px 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 42px;
}

.vinyl-vs-cassette {
  display: flex;
}

.vinyl,
.cassette {
  border-top: solid black 2px;
  padding: 50px 127px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vinyl {
  border-right: solid black 2px;
  padding-left: 15%;
}

.cassette {
  padding-right: 15%;
}

.vinyl h3,
.cassette h3 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 25px;
}

.vinyl p,
.cassette p {
  text-align: center;
  font-size: 20px;
  padding-bottom: 30px;
}

.vinyl img,
.cassette img {
  width: 520px;
}
/*VINYL VS CASSETTE SECTION END*/
/*DARK BANNER START*/
.dark-banner {
  background: black;
  height: 285px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark-banner span {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}
/*DARK BANNER END*/
